<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Guitar Shop</title>
</head>
<body>
  <header>
    <div class="header-container">
      <nav>
        <ul>
          <li><a href="/">Todas as Guitarras</a></li>
          <li><a href="/">Cadastrar Guitarra</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container">
    {{{ body }}}
  </main>
  <footer>
    <div class="footer-container">
      <p><strong>Guitar Shop</strong> - &copy; 2022</p>
    </div>
  </footer>
</body>
</html>