/* GUITARS CONTAINER */
.guitars-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.guitar-container {
  width: 220px;
  margin: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #0D0D0D;
}

.guitar-container img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.guitar-container .guitar-info {
  padding: 10px 15px;
}

.guitar-container .guitar-info strong {
  color: #BF3E0F;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: .5em;
  font-size: .8em;
}

.guitar-container .guitar-info h4 {
  display: block;
  text-align: center;
  font-size: 1.1em;
}

.guitar-container a {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: .5em;
}

.guitar-container a:hover {
  text-decoration: underline;
}

/* SINGLE PAGE */
.guitar-thumbnail {
  width: 100%;
  display: flex;
}

.guitar-thumbnail img {
  width: 50%;
  max-height: 600px;
  object-fit: cover;
}

.guitar-thumbnail figcaption {
  width: 50%;
  padding: 0 1em;
}

.guitar-thumbnail figcaption .info {
  margin-bottom: .5em;
  font-size: 1.2em;
}

.guitar-thumbnail figcaption .info strong {
  color: #BF3E0F; 
}

.guitar-thumbnail figcaption .description {
  margin: 2em 0;
  font-size: .9em;
}

.guitar-thumbnail a {
  display: block;
  margin-bottom: .5em;
}

.guitar-thumbnail a:hover,
.go-back:hover  {
  text-decoration: underline;
}

.go-back {
  display: block;
  margin-top: 2em;
}

form input[type="submit"] {
  border: 0;
  font-size: 1em;
}

form input[type="submit"]:hover {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .guitar-thumbnail {
    flex-direction: column;
    align-items: center;
  }

  .guitar-thumbnail img,
  .guitar-thumbnail figcaption {
    width: 100%;
  }

  .guitar-thumbnail figcaption {
    padding: 1em 0;
  }
}